html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2px 2px 0 2px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align:center;
}

.logo{
    padding: 0 80px 0 80px;
}

header img{
    height: 160px;
}

nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav li{
    padding: 60px 30px 0 30px ;
}




.welcome{
    display: flex;
    padding: 10px 100px 0 50px;
}
.wel_img img{
    
    height: 250px;
}
